	/********** Pc **********/
@media (min-width: 992px) {
    .col-lg{
    float: left;
    border: 1px solid black;
    overflow: auto;
    width: 300px;
    height: 140px;
    margin: 1.5%;
    width: 30%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
 	.col-md{
    border: 1px solid black;
    overflow: auto;
 	margin: 2%;
    width: 45%;
    float: left;
    height: 140px;
  }
  .col-md2{
  	border: 1px solid black;
    overflow: auto;
    width: 94%;
    margin:2%;
    height: 140px;
  }
}
/********** Phone **********/
@media (max-width: 767px){
	.col-td{
    float: left;
    border: 1px solid black;
  	width: auto;
    height: 130px;
    overflow: auto;
    margin-bottom: 3%;
  }
}

* {
  	box-sizing: border-box;
 	margin:  0;
  	padding: 0;
}
h1 {
  	margin-bottom: 15px;
  	text-align: center;
}

p {
  	border: 1px solid black;
 	background-color: gray;
  	font-family: Helvetica;
  	color: black;
}

#p1 {
	 	border: 1px solid black;
		color:black;
		font-family: Italic;
		font-weight: bold;
  		background-color: #ffc0cb;
  		width: auto;
  		height: 20px;
  		float : right;
}

#p2 {
	 	border: 1px solid black;
		color:white;
		font-family: Italic;
		font-weight: bold;
  		background-color: #ff0000;
  		width: auto;
  		height: 20px;
  		float : right;
}

#p3 {
	 	border: 1px solid black;
		color:black;
		font-family: Italic;
		font-weight: bold;
  		background-color: #F8DE7E;
  		width: auto;
  		height: 20px;
  		float : right;
}

.row {
  width: 100%;
}
